body
{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../loginbgimg.jpeg);
    height: 100vh;
    background-size: cover;
}
.box
{
    width:300px;
    padding:30px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}
.box h1
{
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type="text"],.box input[type="password"]
{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align:center;
    border:3px solid #ffffff;
    padding:14px 10px;
    width:220px;
    outline: none;
    color:rgb(255, 255, 255);
    transition: 0.4s ease;
    
}
.box input[type="text"]:focus,.box input[type="password"]:focus
{
    width:270px;
    border-color: rgb(255, 255, 255);
}
.box input[type="submit"]
{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align:center;
    border:3px solid #ffffff;
    padding:14px 35px;
    outline: none;
    color:rgb(255, 255, 255);
    transition: 0.4s ease;
    cursor:pointer;
}
.box input[type="submit"]:hover
{
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
}
.logo img
{
    float: left;
    width: 100px;
    height: auto;
    margin-left: 10px;
}
.main
{
    max-width: 1200px;
    margin:auto;
}
li a
{
    float: right;
    list-style-type: none;
    margin-top: 100px;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    border: 1px solid transparent;
}
li a:hover
{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    transition: 0.4s ease;
}